source_up_if_exists

PLATFORM=$(uname -s | tr '[:upper:]' '[:lower:]')

test -d .bin || mkdir .bin

HUGO_VERSION=0.120.3
case "$(uname -m)" in
    x86_64 | amd64)
        GOARCH="amd64"
        ;;
    arm64 | aarch64)
        GOARCH="arm64"
        ;;
    *)
        GOARCH="amd64"
        ;;
esac

URL=https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_${PLATFORM}-${GOARCH}.tar.gz

test -f .bin/hugo || curl -Lso - $URL | gzip -dc | tar -C .bin -x hugo

PATH_add .bin
