.hero-foot ul {
    display: flex;
 
    flex-wrap: wrap;
}

.hero-foot li {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero-foot li a{
    border:none;
}

.hero-foot img.partner-logo {
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.hero-foot .tabs {
    display: inline-block;
    width: 100%;
}

.navbar.is-fresh .navbar-brand img {
    max-height: 48px !important;
    height: 48px;
}

.navbar-item img {
    width: 48px;
    height: 48px;
}

.postType {
  border-radius: 5px;
/* Rounded corners */
  border: 2px solid #007bff;

  color: #0056b3;
  font-size: 14px;
  font-weight: bold;
  max-width: 250px;
  padding: 3px;
  margin: 2px;
  display: inline-block;
}

section .container article header {
  padding: 1em 0;
}

section .container article header h6 {
  padding: 0.25em 0;
}

section.section .container article section {
  padding: 1em 0;
}
.content article footer {
  padding: 1em 0;
}

.content div > iframe {
  padding-bottom: 1em;
}
