{{ define "main" }}

{{ partial "banner.html" . }}
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}


<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ .Title }}</h1>
        <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
        <div class="divider"></div>
      </div>
    </div>

    <div class="content">
      {{ .Content }}
      
      <div class="columns">
        <!-- Blog Column -->
        <div class="column">
          <h2 class="title is-4">Blog Posts</h2>
          <ul>
            {{ $blogs := where .Site.RegularPages "Type" "blog" }}
            {{ range $blogs.ByDate.Reverse }}
              <li>
                <a href="{{ .Permalink }}">
                  {{ .Title }}
                </a>
                (<em>{{ .Date.Format "January" }} {{ .Date.Format "2" }}{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }}, {{ .Date.Format "2006" }}</em>)
              </li>
            {{ end }}
          </ul>
        </div>

        <!-- Media Coverage Column -->
        <div class="column">
          <h2 class="title is-4">Media Coverage</h2>
          <ul>
            {{ $media := where .Site.RegularPages "Type" "in" (slice "news" "article") }}
            {{ range $media.ByDate.Reverse }}
              <li>
                {{- if eq .Type "article" -}}
                <a href="{{ .Params.link }}" target="_blank">
                {{- else -}}
                <a href="{{ .Permalink }}">
                {{- end -}}
                  {{ .Title }}
                </a>
                (<em>{{ .Date.Format "January" }} {{ .Date.Format "2" }}{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }}, {{ .Date.Format "2006" }}</em>)
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{ if .Params.include_footer }}
{{ partial "footer.html" . }}
{{ end }}

{{ if .Params.sidebar }}
{{ partial "single/sidebar.html" . }}
{{ end }}

{{ end }}
