{{ if .Site.Params.banner }}
<div class="notification is-info is-light" style="margin-bottom: 0; border-radius: 0; text-align: center;">
  <div class="container">
    <p style="margin: 0; font-weight: 500;">
      <strong>OpenELA Launches ELValidated</strong> to help Enterprise Linux distributors reduce testing costs and resource commitments. 
      <a href="/blog/elvalidated-compatibility-toolset/" style="text-decoration: underline; font-weight: 600;">Read more on the blog &raquo;</a>
    </p>
  </div>
</div>
{{ end }}
